extends layout

block body
  .container-fluid
    .jumbotron.row
        form.bs-example.form-horizontal(method='post')
          fieldset
            h1 Create a New Account
          br
          .col-lg-8.col-lg-offset-2
            p.text-center.last-p.
              If you already have an account, login in <a href='/login'>here</a>.
            br
            input(name='_csrf', type='hidden', value=csrfToken)
            if error
              .alert.alert-dismissable.alert-danger.register-fail
                button.close(data-dismiss='alert', type='button') &times;
                p.
                  #{error}
            if app.get('stormpathEnableGivenName')
              .form-group
                label.col-lg-4.control-label(for='givenName') First Name
                .col-lg-6
                  input#username.form-control(placeholder='First Name',
                  name='givenName', required=app.get('stormpathRequireGivenName') ? true : false,
                  type='text')

            if app.get('stormpathEnableSurname')
              .form-group
                label.col-lg-4.control-label(for='surname') Last Name
                .col-lg-6
                  input#username.form-control(placeholder='Last Name',
                  name='surname', required=app.get('stormpathRequireSurname') ? true : false,
              type='text')

              .form-group
                label.col-lg-4.control-label(for='email') Email
                .col-lg-6
                  input#username.form-control(placeholder='Email',
                    name='email', required='true',
                    type='email')

              .form-group
                label.col-lg-4.control-label(for='password') Password
                .col-lg-6
                  input#password.form-control(placeholder='Password',
                  name='password',
              required='true', type='password')
              br
              form-group
                .col-lg-10.col-lg-offset-4
                 button.btn.btn-primary(type='submit') Create
              br
              br
              br
              br
